@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0px;

}

body {
    background-color: rgba(130, 182, 231, 0.505);
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: rgb(80, 80, 200);
    display: flex;
    justify-content: center;
    padding: 20px;
    transition: ease .2s;
}

h1:hover {
    scale: 1.1;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 20px 0px;

}

select {
    width: auto;
    font-size: 18px;
}

span {
    padding: 5px;
}

#txtError {
    text-align: center;
    color: red;
}

#btnCalculate {
    cursor: pointer;
    border: 1px solid black;
    padding: 3px;
    border-radius: 5px;
    transition: ease .2s;
}

#btnCalculate:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    scale: 1.1;
}

#resultWaterBill {
    transition: ease .2s;
}

#resultWaterBill:hover {
    scale: 1.2;
}

#resultEnvironmentalFee {
    transition: ease .2s;
}

#resultEnvironmentalFee:hover {
    scale: 1.2;
}

#resultTotal {
    transition: ease .2s;
}

#resultTotal:hover {
    scale: 1.2;
}